$font-size: 1.10rem;
$font-color: #000;
$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica", sans-serif;
$paragraph-size: 1rem;
$paragraph-weight: 300;
$line-height: 1.5rem;
$letter-spacing: 1px;
$green: #278673;
$button-font-color: #fff;